$carousel-width: 750px;
$nav-btn-offset: -66px;
$nav-btn-size: 30px;
$nav-btn-height: 50px;
$bg-color: #fff;
$font-size-slick-dots: 30px;
$bg-color-slick-dots: red;
$text-color-slick-dots: white;

.carousel {
    padding: 81px 0;

    &__inner {
        position: relative;
        max-width: $carousel-width;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // left: -66px;
        border: none;
        background-color: #fff;
        cursor: pointer;

        img {
            width: $nav-btn-size;
            height: $nav-btn-height;
        }
    }

    .slick-prev {
        left: $nav-btn-offset;
    }

    .slick-next {
        right: $nav-btn-offset;
    }

    .tns-item {
        img {
            width: 100%;
            height: auto;
            // display: block;
            // margin: 0 auto;
        }
    }

}

#slick-slide-control00 {
    background-color: $bg-color-slick-dots;
    font-size: $font-size-slick-dots;
    color: $text-color-slick-dots;
}

#slick-slide-control01 {
    background-color: $bg-color-slick-dots;
    font-size: $font-size-slick-dots;
    color: $text-color-slick-dots;
}

#slick-slide-control02 {
    background-color: $bg-color-slick-dots;
    font-size: $font-size-slick-dots;
    color: $text-color-slick-dots;
}