.reviews {
    margin: 79px 0 78px 0;

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
        color: #0d0d0d;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }

    &__items {
        display: inherit;
        align-items: flex-start;
    }

    &__img {
        display: inline;
        margin-right: 60px;
        margin-bottom: 110px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }

    &__names {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
        margin-bottom: 5px;

        span {
            color: #646464;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 1.5;
        color: #0d0d0d;
        margin: 10px 0 60px 0;
    }
}